body {
    background-color: black;
    color:white;
    max-width: 60em;
    margin: auto;
}
.valmynd {
    background-color: red;
    padding: 0;
    margin: -1.2em;
    display: flex;
    flex-direction: row;
}
h2 {
    text-align: center;
    padding-right:5em;
    padding-left:5em;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
}